<footer class="site-footer">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h6>Sobre el portal</h6>
                    <p>
                        El portal sigue en mantenimiento y con constantes cambios.
                    </p>
                </div>

                <!-- <div class="col-xs-6 col-md-3">
                    <h6>Contacto</h6>
                    <ul class="footer-links">
                        <li>
                            Calle 10b #161 entre 45a y 45b <br>
                            San Francisco de Campeche <br>
                            24010
                        </li>
                        <br>
                        <li>
                            (981) 816-2280
                        </li>
                        <br>
                        <li>
                            consejeriajuridica@campeche.gob.mx
                        </li>
                    </ul>
                </div> -->

                <div class="col-xs-6 col-md-3">
                    <h6>Licencia de Desarrollo</h6>
                    <ul class="footer-links">
                        <li>
                            <a href="https://angular.io/license" target="_blank">MIT</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Todos los derechos reservados por:
                        <a [routerLink]="['/']"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>