<footer class="site-footer">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h6>Sobre el portal</h6>
                    <p>
                        El portal sigue en mantenimiento y con constantes cambios.
                    </p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Enlaces</h6>
                    <ul class="footer-links">
                        <li>
                            <a [routerLink]="['Estadisticas']">Estadisticas</a>
                        </li>
                        <br>
                        <li>

                        </li>
                        <br>
                        <li>

                        </li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Licencia de Desarrollo</h6>
                    <ul class="footer-links">
                        <li>
                            <a href="https://angular.io/license" target="_blank">MIT</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Desarrollado por: LAHS
                        <a [routerLink]="['/']"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
