<div>
  <div class="modal-dialog modal-lg">
    <!-- Inicio de Formulario -->
    <form #docsForm="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Editar Documento</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-6">
              <label for="num_folio" class="form-label">Num. Folio</label>
              <input type="text" name="num_folio" #num_folio="ngModel" [(ngModel)]="dep.num_folio" class="form-control"
                id="num_folio" required autocomplete="off" placeholder="Num. de Folio Relacionado">
            </div>
            <div class="col-md-6">
              <label for="num_oficio" class="form-label">Num. Oficio</label>
              <input type="text" name="num_oficio" #num_oficio="ngModel" [(ngModel)]="dep.num_oficio"
                class="form-control" id="num_oficio" autocomplete="off" placeholder="Numero de Oficio">
            </div>
            <div class="col-3">
              <label for="fecha_oficio" class="form-label">Fecha Oficio</label>
              <input type="date" class="form-control" name="fecha_oficio" #fecha_oficio="ngModel"
                [(ngModel)]="dep.fecha_oficio" id="fecha_oficio">
            </div>
            <div class="col-3">
              <label for="fecha_vencimiento" class="form-label">Fecha Vencimiento</label>
              <input type="date" class="form-control" name="fecha_vencimiento" #fecha_vencimiento="ngModel"
                [(ngModel)]="dep.fecha_vencimiento" id="fecha_vencimiento">
            </div>
            <div class="col-6">
              <label for="fecha_recepcion" class="form-label">Fecha Recepción</label>
              <input type="datetime-local" class="form-control" name="fecha_recepcion" #fecha_recepcion="ngModel"
                [(ngModel)]="dep.fecha_recepcion" id="fecha_recepcion">
            </div>
            <div class="col-md-6">
              <label for="ins_juridico" class="form-label">Instrumento Jurídico</label>
              <input list="intrumentos" id="ins_juridico" name="ins_juridico" class="form-control"
                placeholder="Estatus del Documento" aria-label="Estatus del Documento" aria-describedby="basic-addon1"
                autocomplete="off" #ins_juridico="ngModel" [(ngModel)]="dep.ins_juridico">
              <datalist id="intrumentos">
                <option *ngFor="let ins of instrumento">
                  {{ins.name}}
                </option>
              </datalist>
            </div>
            <div class="col-6">
              <label for="remitido" class="form-label">Remitente</label>
              <input type="text" class="form-control" name="remitido" #remitido="ngModel" [(ngModel)]="dep.remitido"
                id="remitido" autocomplete="off" placeholder="Remitente del Documento">
            </div>
            <div class="mb-3">
              <label for="asunto" class="form-label">Asunto</label>
              <textarea name="asunto" #asunto="ngModel" [(ngModel)]="dep.asunto" class="form-control" id="asunto"
                rows="3" autocomplete="off" placeholder="Asunto del Documento"></textarea>
            </div>
            <div class="col-6">
              <label for="asignado" class="form-label">Asignado</label>
              <input list="asignados" class="form-control" name="asignado" id="asignado"
                placeholder="Asignación del Documento" aria-label="Asignación del Documento"
                aria-describedby="basic-addon1" autocomplete="off" #asignado="ngModel" [(ngModel)]="dep.asignado">
              <datalist id="asignados">
                <option *ngFor="let asig of asignacion">
                  {{asig.direccion}}
                </option>
              </datalist>
            </div>
            <div class="col-md-6">
              <label for="estatus" class="form-label">Estatus</label>
              <select name="estatus" #estatus="ngModel" [(ngModel)]="dep.estatus" id="estatus" class="form-select">
                <option [ngValue]="null" selected disabled>Seleccionar Estatus</option>
                <option *ngFor="let est of estat" [ngValue]="est.name">
                  {{est.name}}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="observacion" class="form-label">Observación</label>
              <textarea name="observacion" #observacion="ngModel" [(ngModel)]="dep.observacion" class="form-control"
                id="observacion" rows="3" autocomplete="off" placeholder="Observaciones del Documento"></textarea>
            </div>
            <!-- <angular-file-uploader [config]="afuConfig" (ApiResponse)="pdfUploadEntry($event)">
              </angular-file-uploader> -->
            <!-- <div class="mb-3">
              <label for="pdfSalida" class="form-label">PDF de Salida</label>
              <input class="form-control" disabled type="file" name="file0" (change)="capturarEntrada($event)"
                id="pdfSalida">
            </div> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" (click)="onSubmit()" value="Guardar" class="btn btn-success">Aceptar</button>
        </div>
      </div>
    </form>
  </div>
</div>
