<div class="card">
  <div class="card-body">
    <h1 class="display-3">
      Salidas de Documentos
    </h1>
    <br>
    <kendo-grid
      [kendoGridBinding]="departures"
      [pageSize]="pageSize"
      [pageable]="true"
      [sortable]="true"
      [reorderable]="true"
      [resizable]="true"
      [height]="700"
      [columnMenu]="{ filter: true }"
    >
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand data-bs-toggle="modal" data-bs-target="#staticBackdrop" *ngIf="showModeratorBoard">Añadir nuevo registro</button>
      <kendo-grid-spacer></kendo-grid-spacer>
      <button kendoGridExcelCommand type="button" icon="file-excel">
        Exportar a Excel
      </button>
    </ng-template>

      <kendo-grid-command-column
        title="Acciones"
        [width]="110"
        [columnMenu]="false"
        [resizable]="false"
        [sticky]="true"
        *ngIf="showModeratorBoard"
      >
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <button kendoGridEditCommand [primary]="true" (click)="openEdit(contenido)" (click)="getDepartureById(dataItem)">
          <kendo-icon name="pencil"></kendo-icon>
        </button>
        <button kendoGridRemoveCommand (click)="deleteDepartureById(dataItem)">
          <kendo-icon name="delete"></kendo-icon>
        </button>
      </ng-template>
      </kendo-grid-command-column>

      <kendo-grid-column-group title="Folios del Documento" [columnMenu]="false">
        <kendo-grid-column
          field="num_folio"
          title="Num. Folio"
          [width]="120"
        ></kendo-grid-column>

        <kendo-grid-column
          field="num_oficio"
          title="Num. Oficio"
          [width]="130"
        ></kendo-grid-column>
      </kendo-grid-column-group>

      <kendo-grid-column-group title="Fechas del Documento" [columnMenu]="false">
        <kendo-grid-column
          field="fecha_oficio"
          title="Fecha del Oficio"
          [width]="150"
        ></kendo-grid-column>

        <kendo-grid-column
          field="fecha_recepcion"
          title="Acuse de Recibido"
          [width]="150"
        ></kendo-grid-column>

        <kendo-grid-column
          field="fecha_vencimiento"
          title="Fecha Vencimiento"
          [width]="150"
        ></kendo-grid-column>
      </kendo-grid-column-group>

      <kendo-grid-column-group title="Información del Documento" [columnMenu]="false">
        <kendo-grid-column
          field="ins_juridico"
          title="Instrumento Jurídico"
          [width]="150"
        ></kendo-grid-column>

        <kendo-grid-column
          field="dirigido"
          title="Dirigido a"
          [width]="200"
        ></kendo-grid-column>

        <kendo-grid-column
          field="asunto"
          title="Asunto"
          [width]="730"
        ></kendo-grid-column>

        <kendo-grid-column
          field="anexo"
          title="Anexos"
          [width]="200"
        ></kendo-grid-column>

        <kendo-grid-column
          field="firma_visado"
          title="Firma y Visado"
          [width]="140"
        >
        </kendo-grid-column>

        <kendo-grid-column
          field="observacion"
          title="Observaciones"
          [width]="300"
        ></kendo-grid-column>
      </kendo-grid-column-group>

      <ng-template
        kendoPagerTemplate
        let-totalPages="totalPages"
        let-currentPage="currentPage"
      >
        <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
        <kendo-pager-numeric-buttons
          [buttonCount]="10"
        ></kendo-pager-numeric-buttons>
        <kendo-pager-info></kendo-pager-info>
        <kendo-pager-next-buttons></kendo-pager-next-buttons>
        <kendo-pager-page-sizes
          [pageSizes]="pageSizes"
        ></kendo-pager-page-sizes>
      </ng-template>

      <kendo-grid-pdf
        fileName="Salidas.pdf"
        [repeatHeaders]="true"
      ></kendo-grid-pdf>
      <kendo-grid-excel
        fileName="Salidas.xlsx"
      ></kendo-grid-excel>
    </kendo-grid>
  </div>
</div>

<br>

<ng-template #contenido let-modal>
  <!-- Inicio de Formulario -->
  <form #docsForm="ngForm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar Documento</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-3">
          <div class="col-md-6">
            <label for="num_folio" class="form-label">Num. Folio</label>
            <input type="text" name="num_folio" #num_folio="ngModel" [(ngModel)]="depEdit.num_folio" class="form-control"
              id="num_folio" required autocomplete="off" placeholder="Num. de Folio Relacionado">
              <div *ngIf="num_folio.invalid && (num_folio.dirty || num_folio.touched)"
                class="fst-italic" style="color: red;">
                <div *ngIf="num_folio.errors?.['required']">
                  Campo Obligatorio.
                </div>
              </div>
          </div>
          <div class="col-md-6">
            <label for="num_oficio" class="form-label">Num. Oficio</label>
            <input type="text" name="num_oficio" #num_oficio="ngModel" [(ngModel)]="depEdit.num_oficio"
              class="form-control" id="num_oficio" required autocomplete="off" placeholder="Numero de Oficio">
              <div *ngIf="num_oficio.invalid && (num_oficio.dirty || num_oficio.touched)"
                class="fst-italic" style="color: red;">
                <div *ngIf="num_oficio.errors?.['required']">
                  Campo Obligatorio.
                </div>
              </div>
          </div>
          <div class="col-3">
            <label for="fecha_oficio" class="form-label">Fecha Oficio</label>
            <input type="date" class="form-control" name="fecha_oficio" #fecha_oficio="ngModel"
              [(ngModel)]="depEdit.fecha_oficio" required id="fecha_oficio">
              <div *ngIf="fecha_oficio.invalid && (fecha_oficio.dirty || fecha_oficio.touched)"
                class="fst-italic" style="color: red;">
                <div *ngIf="fecha_oficio.errors?.['required']">
                  Campo Obligatorio.
                </div>
              </div>
          </div>
          <div class="col-3">
            <label for="fecha_vencimiento" class="form-label">Fecha Vencimiento</label>
            <input type="date" class="form-control" name="fecha_vencimiento" #fecha_vencimiento="ngModel"
              [(ngModel)]="depEdit.fecha_vencimiento" id="fecha_vencimiento">
          </div>
          <div class="col-6">
            <label for="fecha_recepcion" class="form-label">Acuse de Recibido</label>
            <input type="datetime-local" class="form-control" name="fecha_recepcion" #fecha_recepcion="ngModel"
              [(ngModel)]="depEdit.fecha_recepcion" id="fecha_recepcion">
          </div>
          <div class="col-md-6">
            <label for="ins_juridico" class="form-label">Instrumento Jurídico</label>
            <input list="intrumentos" id="ins_juridico" name="ins_juridico" class="form-control"
              placeholder="Estatus del Documento" aria-label="Estatus del Documento" aria-describedby="basic-addon1"
              required autocomplete="off" #ins_juridico="ngModel" [(ngModel)]="depEdit.ins_juridico">
            <datalist id="intrumentos">
              <option *ngFor="let ins of instrumento">
                {{ins.name}}
              </option>
            </datalist>
            <div *ngIf="ins_juridico.invalid && (ins_juridico.dirty || ins_juridico.touched)"
              class="fst-italic" style="color: red;">
              <div *ngIf="ins_juridico.errors?.['required']">
                Campo Obligatorio.
              </div>
            </div>
          </div>
          <div class="col-6">
            <label for="dirigido" class="form-label">Dirigido a:</label>
            <input type="text" class="form-control" name="dirigido" #dirigido="ngModel" [(ngModel)]="depEdit.dirigido"
              id="dirigido" required autocomplete="off" placeholder="Nombre de la persona">
              <div *ngIf="dirigido.invalid && (dirigido.dirty || dirigido.touched)"
                class="fst-italic" style="color: red;">
                <div *ngIf="dirigido.errors?.['required']">
                  Campo Obligatorio.
                </div>
              </div>
          </div>
          <div class="col-12">
            <label for="dependencia" class="form-label">Dependencia</label>
            <input type="text" class="form-control" name="dependencia" #dependencia="ngModel" [(ngModel)]="depEdit.dependencia"
              id="dependencia" required autocomplete="off" placeholder="Nombre de la Dependencia">
              <div *ngIf="dependencia.invalid && (dependencia.dirty || dependencia.touched)"
                class="fst-italic" style="color: red;">
                <div *ngIf="dependencia.errors?.['required']">
                  Campo Obligatorio.
                </div>
              </div>
          </div>
          <div class="mb-3">
            <label for="asunto" class="form-label">Asunto</label>
            <textarea name="asunto" #asunto="ngModel" [(ngModel)]="depEdit.asunto" class="form-control" id="asunto"
              rows="3" required placeholder="Asunto del Documento"></textarea>
              <div *ngIf="asunto.invalid && (asunto.dirty || asunto.touched)"
                class="fst-italic" style="color: red;">
                <div *ngIf="asunto.errors?.['required']">
                  Campo Obligatorio.
                </div>
              </div>
          </div>
          <div class="col-6">
            <label for="anexo" class="form-label">Anexo</label>
            <input name="anexo" #anexo="ngModel" [(ngModel)]="depEdit.anexo" class="form-control" id="anexo"
              autocomplete="off" placeholder="Anexo del Documento">
          </div>
          <div class="col-6">
            <label for="firma_visado" class="form-label">Firma y visado</label>
            <input name="firma_visado" #firma_visado="ngModel" [(ngModel)]="depEdit.firma_visado" class="form-control" id="firma_visado"
              autocomplete="off" placeholder="Firma y Visado del Documento">
          </div>
          <div class="mb-3">
            <label for="observacion" class="form-label">Observación</label>
            <textarea name="observacion" #observacion="ngModel" [(ngModel)]="depEdit.observacion" class="form-control"
              id="observacion" rows="3" autocomplete="off" placeholder="Observaciones del Documento"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" (click)="onEdit()" value="Guardar" class="btn btn-success">Aceptar</button>
        <button type="button" class="btn btn-succes" (click)="modal.close()">Cerrar</button>
      </div>
    </div>
  </form>
</ng-template>

<div *ngIf="departures">

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <!-- Inicio de Formulario -->
      <form #deps="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Ingresar Información para Nuevo Registro de Salida</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row g-3">
              <div class="col-md-6">
                <label for="num_folio" class="form-label">Num. Folio</label>
                <input type="number" name="num_folio" #num_folio="ngModel" [(ngModel)]="dep.num_folio"
                  class="form-control" id="num_folio" required autocomplete="off" placeholder="Num. de Folio Relacionado">
                  <div *ngIf="num_folio.invalid && (num_folio.dirty || num_folio.touched)"
                    class="fst-italic" style="color: red;">
                    <div *ngIf="num_folio.errors?.['required']">
                      Campo Obligatorio.
                    </div>
                  </div>
              </div>
              <div class="col-md-6">
                <label for="num_oficio" class="form-label">Num. Oficio</label>
                <input type="text" name="num_oficio" #num_oficio="ngModel" [(ngModel)]="dep.num_oficio"
                  class="form-control" id="num_oficio" required autocomplete="off" placeholder="Numero de Oficio">
                  <div *ngIf="num_oficio.invalid && (num_oficio.dirty || num_oficio.touched)"
                    class="fst-italic" style="color: red;">
                    <div *ngIf="num_oficio.errors?.['required']">
                      Campo Obligatorio.
                    </div>
                  </div>
              </div>
              <div class="col-3">
                <label for="fecha_oficio" class="form-label">Fecha Oficio</label>
                <input type="date" class="form-control" name="fecha_oficio" #fecha_oficio="ngModel"
                  [(ngModel)]="dep.fecha_oficio" required id="fecha_oficio">
                  <div *ngIf="fecha_oficio.invalid && (fecha_oficio.dirty || fecha_oficio.touched)"
                    class="fst-italic" style="color: red;">
                    <div *ngIf="fecha_oficio.errors?.['required']">
                      Campo Obligatorio.
                    </div>
                  </div>
              </div>
              <div class="col-3">
                <label for="fecha_vencimiento" class="form-label">Fecha Vencimiento</label>
                <input type="date" class="form-control" name="fecha_vencimiento" #fecha_vencimiento="ngModel"
                  [(ngModel)]="dep.fecha_vencimiento" id="fecha_vencimiento">
              </div>
              <div class="col-6">
                <label for="fecha_recepcion" class="form-label">Acuse de Recibido</label>
                <input type="datetime-local" class="form-control" name="fecha_recepcion" #fecha_recepcion="ngModel"
                  [(ngModel)]="dep.fecha_recepcion" id="fecha_recepcion">
              </div>

              <div class="col-md-6">
                <label for="ins_juridico" class="form-label">Instrumento Jurídico</label>
                <input list="intrumentos" name="ins_juridico" class="form-control" placeholder="Instrumento Jurídico"
                  aria-label="Instrumento Jurídico" aria-describedby="basic-addon1" required autocomplete="off"
                  #ins_juridico="ngModel" [(ngModel)]="dep.ins_juridico">
                <datalist id="intrumentos">
                  <option *ngFor="let ins of instrumento">
                    {{ins.name}}
                  </option>
                </datalist>
                <div *ngIf="ins_juridico.invalid && (ins_juridico.dirty || ins_juridico.touched)"
                    class="fst-italic" style="color: red;">
                    <div *ngIf="ins_juridico.errors?.['required']">
                      Campo Obligatorio.
                    </div>
                </div>
              </div>

              <div class="col-6">
                <label for="dirigido" class="form-label">Dirigido a:</label>
                <input type="text" class="form-control" name="dirigido" #dirigido="ngModel" [(ngModel)]="dep.dirigido"
                  id="dirigido" required autocomplete="off" placeholder="Nombre de la persona">
                  <div *ngIf="dirigido.invalid && (dirigido.dirty || dirigido.touched)"
                    class="fst-italic" style="color: red;">
                    <div *ngIf="dirigido.errors?.['required']">
                      Campo Obligatorio.
                    </div>
                  </div>
              </div>
              <div class="col-12">
                <label for="dependencia" class="form-label">Dependencia</label>
                <input type="text" class="form-control" name="dependencia" #dependencia="ngModel" [(ngModel)]="dep.dependencia"
                  id="dependencia" required autocomplete="off" placeholder="Nombre de la Dependencia">
                  <div *ngIf="dependencia.invalid && (dependencia.dirty || dependencia.touched)"
                    class="fst-italic" style="color: red;">
                    <div *ngIf="dependencia.errors?.['required']">
                      Campo Obligatorio.
                    </div>
                  </div>
              </div>
              <div class="mb-3">
                <label for="asunto" class="form-label">Asunto</label>
                <textarea name="asunto" #asunto="ngModel" [(ngModel)]="dep.asunto" class="form-control" id="asunto"
                  rows="3" required placeholder="Asunto del Documento"></textarea>
                  <div *ngIf="asunto.invalid && (asunto.dirty || asunto.touched)"
                    class="fst-italic" style="color: red;">
                    <div *ngIf="asunto.errors?.['required']">
                      Campo Obligatorio.
                    </div>
                  </div>
              </div>
              <div class="col-6">
                <label for="anexo" class="form-label">Anexo</label>
                <input name="anexo" #anexo="ngModel" [(ngModel)]="dep.anexo" class="form-control" id="anexo"
                  autocomplete="off" placeholder="Anexo del Documento">
              </div>
              <div class="col-6">
                <label for="firma_visado" class="form-label">Firma y visado</label>
                <input name="firma_visado" #firma_visado="ngModel" [(ngModel)]="dep.firma_visado" class="form-control" id="firma_visado"
                  autocomplete="off" placeholder="Firma y Visado del Documento">
              </div>

              <div class="mb-3">
                <label for="observacion" class="form-label">Observación</label>
                <textarea name="observacion" #observacion="ngModel" [(ngModel)]="dep.observacion" class="form-control"
                  id="observacion" rows="3" placeholder="Observaciones del Documento"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Aceptar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
