<div class="container">
    <div class="row">
      <h1 class="text-center">Control de Gestion</h1>
      <div class="login-wrap">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-9">
              <input type="email" class="form-control" id="inputUser" placeholder="Usuario" required>
            </div>
          </div>
          <br>
          <div class="form-group">
            <div class="col-sm-9">
              <input type="password" class="form-control" id="inputPsw" placeholder="Contraseña" required>
            </div>
          </div>
          <br>
          <div class="form-group last">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-success btn-sm">
                Entrar</button>
              <button type="reset" class="btn btn-default btn-sm">
                Resetear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>