<div class="loading" *ngIf="!documents">
  Cargando
</div>

<div *ngIf="documents">
  <!-- Button trigger modal -->
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Insertar Registro Nuevo</button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <!-- Inicio de Formulario -->
      <form [formGroup]="formDocs" (ngSubmit)="onSubmit()">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Ingresar Información para Nuevo Registro</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">            
            <div class="row g-3">
              <div class="col-md-2">
                <label for="num_oficio" class="form-label">Num. Oficio</label>
                <input type="text" name="num_oficio" class="form-control" formControlName="num_oficio" id="num_oficio">
              </div>
              <div class="col-md-4">
                  <label for="ins_juridico" class="form-label">Instrumento Jurídico</label>
                  <select id="ins_juridico" class="form-select" formControlName="ins_juridico">
                    <option [ngValue]="null" selected disabled>Seleccionar Instrumento</option>
                    <option *ngFor="let ins of instrumento" [ngValue]="ins.name">
                      {{ins.name}}
                    </option>
                  </select>
              </div>
              <div class="col-6">
                <label for="" class="form-label">Fecha Recepción</label>
                <input type="date" class="form-control" formControlName="fecha_recepcion" id="">
              </div>
              <div class="col-6">
                <label for="" class="form-label">Remitido</label>
                <input type="text" class="form-control" id="" formControlName="remitido">
              </div>
              <div class="col-6">
                  <label for="" class="form-label">Origen</label>
                  <input type="text" class="form-control" id="" formControlName="origen">
              </div>
              <div class="col-6">
                <label for="" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="" formControlName="origen">
              </div>
              <div class="col-6">
                <label for="" class="form-label">Director</label>
                <input type="text" class="form-control" id="" formControlName="origen">
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Asunto</label>
                <input type="text" class="form-control" id="" formControlName="asunto">
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Estatus</label>
                <select id="" class="form-select" formControlName="estatus">
                  <option [ngValue]="null" selected disabled>Seleccionar Estatus</option>
                  <option *ngFor="let est of estatus" [ngValue]="est.name">
                    {{est.name}}
                  </option>
                </select>
              </div>
              <div class="mb-3">
                  <label for="" class="form-label">Observación</label>
                  <textarea class="form-control" id="" rows="3" formControlName="observacion"></textarea>
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label">PDF de entrada</label>
                <input class="form-control" type="file" id="formFile">
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label">PDF de salida</label>
                <input class="form-control" type="file" id="formFile">
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-success">Aceptar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>

  <app-documents
    [documents]="documents"
  ></app-documents>
</div>