<!-- PRUEBAS INICIO -->

<br>

<div class="card">
  <div class="card-body">
    <form class="row g-3" [formGroup]="dateForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="col-12">
        <label for="optionMenu">SELECCIONA TU OPCIÓN: </label>
        <select class="form-select" aria-label="Default select example" required formControlName="optionMenu"
          name="optionMenu" id="optionMenu">
          <option value="CONSEJERIA JURÍDICA">CONSEJERIA JURÍDICA</option>
          <option *ngFor="let items of asignacion" value="{{items.direccion}}">{{items.direccion}}</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="minDate1" class="form-label">DE: </label>
        <input type="date" formControlName="minDate1"
          required name="minDate1" class="form-control" id="minDate1">
      </div>
      <div class="col-md-6">
        <label for="maxDate1" class="form-label">A: </label>
        <input type="date" formControlName="maxDate1" required
        class="form-control" name="maxDate1" id="maxDate1">
      </div>
      <div class="col-md-6 btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="submit" class="btn btn-primary" [disabled]="isShown || isShown2 ? true : null">Generar gráfica</button>
        <button type="button" class="btn btn-success" (click)="recargar()" *ngIf="isShown || isShown2">Generar una gráfica nueva</button>
      </div>
    </form>
  </div>
  <div *ngIf="loading" class="k-i-loading"></div>
  <div class="card-body" *ngIf="isShown">
    <kendo-chart #chart renderAs="canvas">
      <kendo-chart-legend position="top" orientation="horizontal">
      </kendo-chart-legend>
      <kendo-chart-title [text]="textOne"
        font="19pt sans-serif"></kendo-chart-title>
      <kendo-chart-category-axis>
        <kendo-chart-category-axis-item [labels]="{ rotation: 'auto' }"
          [categories]="categorieArea">
        </kendo-chart-category-axis-item>
      </kendo-chart-category-axis>
      <kendo-chart-series>
        <kendo-chart-series-item name="Concluido" [labels]="seriesLabels" [gap]="2" [spacing]="0.50" [data]="concluidoPrueba">
        </kendo-chart-series-item>
        <kendo-chart-series-item name="En Tramite" [labels]="seriesLabels" [gap]="2" [spacing]="0.50" [data]="tramitePrueba">
        </kendo-chart-series-item>
        <kendo-chart-series-item name="Para Conocimiento" [labels]="seriesLabels" [gap]="2" [spacing]="0.50"
          [data]="conocimientoPrueba">
        </kendo-chart-series-item>
      </kendo-chart-series>
    </kendo-chart>

    <div class="card-body" *ngIf="isShown2">
      <kendo-chart #chart renderAs="canvas">
        <kendo-chart-legend position="top" orientation="horizontal">
        </kendo-chart-legend>
        <kendo-chart-title [text]="textTwo"
          font="19pt sans-serif"></kendo-chart-title>
        <kendo-chart-category-axis>
          <kendo-chart-category-axis-item [labels]="{ rotation: 'auto' }"
            [categories]="categories">
          </kendo-chart-category-axis-item>
        </kendo-chart-category-axis>
        <kendo-chart-series>
          <kendo-chart-series-item name="Concluido" [labels]="seriesLabels" [gap]="2" [spacing]="0.50" [data]="concluidoPrueba2">
          </kendo-chart-series-item>
          <kendo-chart-series-item name="En Tramite" [labels]="seriesLabels" [gap]="2" [spacing]="0.50" [data]="tramitePrueba2">
          </kendo-chart-series-item>
          <kendo-chart-series-item name="Para Conocimiento" [labels]="seriesLabels" [gap]="2" [spacing]="0.50"
            [data]="conocimientoPrueba2">
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </div>
  </div>
</div>

<!-- PRUEBAS FIN -->

<br>
<div class="card">
  <div class="card-body">
    <h3 class="text-center text-break">
      NOMENCLATURAS QUE REPRESENTAN LAS ÁREAS ABREVIADAS EN LAS GRÁFICAS.
    </h3>
    <kendo-grid [data]="asignacion">
      <kendo-grid-column field="cabecera" title="NOMENCLATURA"></kendo-grid-column>
      <kendo-grid-column field="direccion" title="DESCRIPCIÓN"></kendo-grid-column>
    </kendo-grid>
    <br>

    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
        </svg>
        La visualización de las gráficas se consulta en el momento que cargas la pagina, los filtros que ocupan son
        <strong>Asignado y Estatus</strong>, mismos que se leerán en mayúsculas.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>

    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
        </svg>
        Puedes filtrar el contenido de las gráficas para visualizar una o dos opciones dando click a los conceptos debajo del título <strong>Concluido, En Tramite, Para Conocimiento</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
          <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        Para exportar las gráficas en formato de imagen, dar click derecho sobre la gráfica y <strong>Guardar imagen
          como...</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
          <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        Si no se llega a visualizar las barras, dar click a una de las 3 opciones <strong>Concluido, En Tramite y Para
          Conocimiento</strong>.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
<br>
