<h3>
Las siguientes nomenclaturas representan las áreas abreviadas de las siguientes graficas.
</h3>
<kendo-grid [data]="gridData">
  <kendo-grid-column field="cabecera" title="Nomenclatura"></kendo-grid-column>
  <kendo-grid-column field="descripcion" title="Descripcion"></kendo-grid-column>
</kendo-grid>
<br><br>
<button kendoButton (click)="exportChart()">Exporar como imagen</button>
<kendo-chart #chart
  renderAs="canvas"
>
  <kendo-chart-legend position="top" orientation="horizontal">
  </kendo-chart-legend>
  <kendo-chart-title text="GRÁFICA REPRESENTATIVA DE LOS DOCUMENTOS DE ENTRADAS DESDE SEP 2021 HASTA LA FECHA" font="19pt sans-serif"></kendo-chart-title>
  <kendo-chart-category-axis>
    <kendo-chart-category-axis-item [categories]="categories" [labels]="{ rotation: 'auto' }" [title]="{ text: 'ÁREAS DE LA CONSEJERIA JURÍDICA' }">
    </kendo-chart-category-axis-item>
  </kendo-chart-category-axis>
  <kendo-chart-series>
    <kendo-chart-series-item
      name="Concluido"
      [labels]="seriesLabels"
      [gap]="2"
      [spacing]="0.50"
      [data]="concluido"
    >
    </kendo-chart-series-item>
    <kendo-chart-series-item
      name="En Tramite"
      [labels]="seriesLabels"
      [gap]="2"
      [spacing]="0.50"
      [data]="tramite"
    >
    </kendo-chart-series-item>
    <kendo-chart-series-item
      name="Para Conocimiento"
      [labels]="seriesLabels"
      [gap]="2"
      [spacing]="0.50"
      [data]="conocimiento"
    >
    </kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart>

<br><br>

<!-- <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
      Grafica 1
    </button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
      Grafica 2
    </button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
      Grafica 3
    </button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent" style="background-color: aliceblue;">
  <br>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

  </div>
</div> -->
