<div class="chart-container">
    <div>
      <div>
        <div style="display: block">
          <canvas id="chart" baseChart [data]="barChartData" [options]="barChartOptions"
            [type]="barChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
</div>

<br><hr><br>

<div class="chart-container">
    <div>
      <div>
        <div style="display: block">
          <canvas id="chart" baseChart [data]="barChartData" [options]="barChartOptions"
            [type]="barChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
</div>

<br><br>